Jinja2==3.1.2
MarkupSafe==2.0.1
Pygments==2.10.0
alabaster==0.7.12
babel==2.9.1
certifi==2021.10.8
chardet==4.0.0
commonmark==0.9.1
docutils==0.17.1
idna==3.3
imagesize==1.2.0
pytz==2022.1
recommonmark==0.7.1
requests>=2.20.0
setuptools==62.6.0
six==1.16.0
snowballstemmer==2.1.0
sphinx==4.2.0
sphinxcontrib-websupport==1.2.4
typing==3.7.4.3
urllib3>=1.24.2
