Jinja2==3.1.2
MarkupSafe==2.1.1
Pygments==2.13.0
alabaster==0.7.12
babel==2.11.0
certifi==2022.9.24
chardet==5.0.0
commonmark==0.9.1
docutils==0.19
idna==3.4
imagesize==1.4.1
pytz==2022.5
recommonmark==0.7.1
requests>=2.20.0
setuptools==65.5.0
six==1.16.0
snowballstemmer==2.2.0
sphinx==6.1.1
sphinxcontrib-websupport==1.2.4
typing==3.7.4.3
urllib3>=1.24.2
